$mainColor: rgba(141, 129, 172, 1);
$minWidthContent: 320px;
$hoverColor: #fff;
$hereTitleColor: #8d81ac;
$hereBlockTitleColor: #323232;
$hereBlockTextColor: #848e97;
$forkTextColor: #ffffff;
$hereBackGroundColor: #f4f4f4;
$forkBackCardColor: rgba(255, 255, 255, 0.06);
$forkBackCardActiveColor: #463048;
